<!-- BEGIN_INCLUDE(google-dfp:config) -->
	<google-dfp:config name="Google-Dfp" clientId="${api.dfp.clientId}" clientSecret="${api.dfp.clientSecret}"
			refreshToken="${api.dfp.refreshToken}" networkCode="${api.dfp.networkCode}"
			applicationName="${api.dfp.applicationName}" endpoint="${api.dfp.endpoint}"
			tokenServerUrl="${api.dfp.tokenServerUrl}" doc:name="GoogleDfp Authentication">
		<google-dfp:custom-ids>
			<google-dfp:custom-id>123</google-dfp:custom-id>
			<google-dfp:custom-id>456</google-dfp:custom-id>
		</google-dfp:custom-ids>
	</google-dfp:config>
<!-- END_INCLUDE(google-dfp:config) -->

<!-- BEGIN_INCLUDE(google-dfp:create-report) -->
    <google-dfp:create-report config-ref="Google-dfp">
    	<google-dfp:start-date year="2014" month="06" day="01" />
    	<google-dfp:end-date year="2014" month="07" day="01" />
    </google-dfp:create-report>
<!-- END_INCLUDE(google-dfp:create-report) -->

<!-- BEGIN_INCLUDE(google-dfp:download-report) -->
    <google-dfp:download-report config-ref="Google-dfp">
    	<google-dfp:report-job ref="#[payload]" />
    </google-dfp:download-report>
<!-- END_INCLUDE(google-dfp:download-report) -->

<!-- BEGIN_INCLUDE(google-dfp:get-all-companies) -->
    <google-dfp:get-all-companies config-ref="Google-dfp" />
<!-- END_INCLUDE(google-dfp:get-all-companies) -->

<!-- BEGIN_INCLUDE(google-dfp:get-company-comment-by-name) -->
    <google-dfp:get-company-comment-by-name config-ref="Google-dfp" companyName="Company Name"  />
<!-- END_INCLUDE(google-dfp:get-company-comment-by-name) -->

<!-- BEGIN_INCLUDE(google-dfp:get-agency-by-name) -->
    <google-dfp:get-agency-by-name config-ref="Google-dfp" agencyName="Agency Name"  />
<!-- END_INCLUDE(google-dfp:get-agency-by-name) -->

<!-- BEGIN_INCLUDE(google-dfp:get-advertiser-by-name) -->
    <google-dfp:get-advertiser-by-name config-ref="Google-dfp" advertiserName="Advertiser Name"  />
<!-- END_INCLUDE(google-dfp:get-advertiser-by-name) -->

<!-- BEGIN_INCLUDE(google-dfp:get-reconciliation-report-ids-by-start-date) -->
    <google-dfp:get-reconciliation-report-ids-by-start-date config-ref="Google-dfp">
    	<google-dfp:start-date year="2014" month="06" day="01" />
    </google-dfp:get-reconciliation-report-ids-by-start-date>
<!-- END_INCLUDE(google-dfp:get-reconciliation-report-ids-by-start-date) -->

<!-- BEGIN_INCLUDE(google-dfp:get-reconciliation-report-rows) -->
	<google-dfp:get-reconciliation-report-rows config-ref="Google-dfp">
            <google-dfp:query-params reconciliationReportId="99" orderId="01" lineItemId="98"/>
	</google-dfp:get-reconciliation-report-rows>
<!-- END_INCLUDE(google-dfp:get-reconciliation-report-rows) -->

<!-- BEGIN_INCLUDE(google-dfp:get-company-by-id) -->
    <google-dfp:get-company-by-id config-ref="Google-dfp" companyId="123"/>
<!-- END_INCLUDE(google-dfp:get-company-by-id) -->

<!-- BEGIN_INCLUDE(google-dfp:create-company) -->
    <google-dfp:create-company config-ref="Google-dfp">
    	<google-dfp:company ref="#[payload]" />
    </google-dfp:create-company>
<!-- END_INCLUDE(google-dfp:create-company) -->

<!-- BEGIN_INCLUDE(google-dfp:update-company) -->
    <google-dfp:update-company config-ref="Google-dfp">
    	<google-dfp:company ref="#[payload]" />
    </google-dfp:update-company>
<!-- END_INCLUDE(google-dfp:update-company) -->
